<!-- form_for usage doc: http://api.rubyonrails.org/v5.1.2/classes/ActionView/Helpers/FormHelper.html#method-i-form_for-label-Resource-oriented+style -->

<%= form_for [@category, @picture] do |f| %>

  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@picture.errors.count, "error") %>
        prohibited this picture from being saved:
      </h2>
      <ul>
        <% @picture.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :category %><br>
    <!-- http://guides.rubyonrails.org/form_helpers.html#select-boxes-for-dealing-with-models -->
    <%= f.collection_select(:category_id, Category.all, :id, :name, :selected => @category.id) %>
    <span>Need  to create a new category? <%= link_to 'Create category', new_category_path %></span>
  </p>

  <p>
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label :upload_picture %><br>
    <%= f.file_field :picfile %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
