<!-- this view is replaced by 'pictures#index' -->

<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @category.name %>
</p>

<p>
  <%= link_to 'Edit category', edit_category_path(@category) %> |
  <%= link_to 'All categories', categories_path %>
</p>


<%= @category.pictures.all.each do |pict| %>
  <p><%= pict.title %></p>
<% end %> -->
