<!DOCTYPE html>
<html>
  <head>
    <title>Eugeniespics</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'Logout' %>

    <script>
      <% if current_user %>
      window.user = {
        name: <%= current_user.username.to_json.html_safe %>,
        superadmin: <%= current_user.superadmin.to_json.html_safe %>
      };
      <% end %>
    </script>
  </head>

  <body>

    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>

    <div id="logout-link"></div>

    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
