<!DOCTYPE html>
<html>
  <head>

    <title>Eugenie's pics</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %>


    <!-- Bootstrap: Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    
    <!-- Bootstrap: Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">

    <!-- Load JQuery library from Google CDN to be able to send AJAX requests -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Font Awesome CDN to load icons -->
    <script src="https://use.fontawesome.com/d17d18b31b.js"></script>
    

    <%= javascript_pack_tag 'application' %>
    

    <script>
      <% if current_user %>
        window.user = {
          id: <%= current_user.id.to_json.html_safe %>,
          superadmin: <%= current_user.superadmin.to_json.html_safe %>
        };
      <% end %>
    </script>
    

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0" />
    <meta name="author" content="eugenie.le.moulec@gmail.com" />

    <!-- Open graph meta tags for Facebook sharing -->
    <meta property="og:type"        content="website" />
    <% if @fb_url %>
      <meta property="og:url"         content="<%= @fb_url %>" />
    <% end %>
    <% if @fb_title %>
      <meta property="og:title"       content="<%= @fb_title %>" />
    <% else %>
      <meta property="og:title"       content="Eugenie's pics" />
    <% end %>
    <% if @fb_description %>
      <meta property="og:description" content="<%= @fb_description %>" />
    <% else %>
      <meta property="og:description" content="Photography galleries by Eugénie Le Moulec" />
    <% end %>
    <% if @fb_image %>
      <meta property="og:image"       content="<%= @fb_image %>" />
    <% else %>
      <meta property="og:image"       content="<%= image_tag EUGENIESPICS.JPG %>" />
    <% end %>


    <% if false %> for reCAPTCHA support in the contact form <% end %>
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>

    <script>
    // initialize the FB JavaScript SDK
    window.fbAsyncInit = function() {
        FB.init({
            appId            : '1836842776645754',
            autoLogAppEvents : true,
            xfbml            : true,
            version          : 'v2.10'
          });
        FB.AppEvents.logPageView();
        FB.XFBML.parse();
    };
    </script>
    
  </head>


  <body>

    <!-- JavaScript SDK for sharing pictures on Facebook -->
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <%= content_tag :div,
    id: "csrf_token",
    data: csrf_meta_tags do %>
    <% end %>


    <% if @category %>
      <%= content_tag :div,
      id: "category_data",
      data: @category.to_json do %>
      <% end %>

      <%= content_tag :div,
      id: "category_errors",
      data: @category.errors.full_messages.to_json do %>
      <% end %>
    <% end %>
    

    <% if @user %>
      <%= content_tag :div,
      id: "user_data",
      data: @user.to_json do %>
      <% end %>

      <%= content_tag :div,
      id: "user_errors",
      data: @user.errors.full_messages.to_json do %>
      <% end %>
    <% end %>


    <% if @picture %>
      <%= content_tag :div,
      id: "picture_data",
      data: @picture.to_json do %>
      <% end %>

      <%= content_tag :div,
      id: "picture_errors",
      data: @picture.errors.full_messages.to_json do %>
      <% end %>
    <% end %>

    <% if @presentation %>
      <%= content_tag :div,
      id: "presentation_data",
      data: @presentation.to_json do %>
      <% end %>

      <%= content_tag :div,
      id: "presentation_errors",
      data: @presentation.errors.full_messages.to_json do %>
      <% end %>
    <% end %>

    <% if @language %>
      <%= content_tag :div,
      id: "language_data",
      data: @language.to_json do %>
      <% end %>

      <%= content_tag :div,
      id: "language_errors",
      data: @language.errors.full_messages.to_json do %>
      <% end %>
    <% end %>

    <% if @cat_description %>
      <%= content_tag :div,
      id: "cat_description_data",
      data: @cat_description.to_json do %>
      <% end %>

      <%= content_tag :div,
      id: "cat_description_errors",
      data: @cat_description.errors.full_messages.to_json do %>
      <% end %>
    <% end %>

    <% if @pic_description %>
      <%= content_tag :div,
      id: "pic_description_data",
      data: @pic_description.to_json do %>
      <% end %>

      <%= content_tag :div,
      id: "pic_description_errors",
      data: @pic_description.errors.full_messages.to_json do %>
      <% end %>
    <% end %>


    <div id="app-component"></div>


    <% flash.each do |name, msg| -%>
      <%= content_tag :div,
      class: name,
      data: msg.to_json do %>
      <% end %>
    <% end -%>
  
    </body>
</html>
