<!DOCTYPE html>
<html>
  <head>

    <title>Eugenies pics</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
    
    <%= javascript_pack_tag 'App' %>
    
    <script>
      <% if current_user %>
        window.user = {
          id: <%= current_user.id.to_json.html_safe %>,
          superadmin: <%= current_user.superadmin.to_json.html_safe %>
        };
      <% end %>
    </script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="eugenie.le.moulec@gmail.com">

  </head>


  <body>


    <%= content_tag :div,
    id: "csrf_token",
    data: csrf_meta_tags do %>
    <% end %>


    <% if @category %>
      <%= content_tag :div,
      id: "category_data",
      data: @category.to_json do %>
      <% end %>

      <%= content_tag :div,
      id: "category_errors",
      data: @category.errors.full_messages.to_json do %>
      <% end %>
    <% end %>
    

    <% if @user %>
      <%= content_tag :div,
      id: "user_data",
      data: @user.to_json do %>
      <% end %>

      <%= content_tag :div,
      id: "user_errors",
      data: @user.errors.full_messages.to_json do %>
      <% end %>
    <% end %>


    <% if @picture %>
      <%= content_tag :div,
      id: "picture_data",
      data: @picture.to_json do %>
      <% end %>

      <%= content_tag :div,
      id: "picture_errors",
      data: @picture.errors.full_messages.to_json do %>
      <% end %>
    <% end %>

    <% if @presentation %>
      <%= content_tag :div,
      id: "presentation_data",
      data: @presentation.to_json do %>
      <% end %>

      <%= content_tag :div,
      id: "presentation_errors",
      data: @presentation.errors.full_messages.to_json do %>
      <% end %>
    <% end %>

    <% if @language %>
      <%= content_tag :div,
      id: "language_data",
      data: @language.to_json do %>
      <% end %>

      <%= content_tag :div,
      id: "language_errors",
      data: @language.errors.full_messages.to_json do %>
      <% end %>
    <% end %>

    <% if @cat_description %>
      <%= content_tag :div,
      id: "cat_description_data",
      data: @cat_description.to_json do %>
      <% end %>

      <%= content_tag :div,
      id: "cat_description_errors",
      data: @cat_description.errors.full_messages.to_json do %>
      <% end %>
    <% end %>

    <div id="app-component"></div>


    <% flash.each do |name, msg| -%>
      <%= content_tag :div,
      class: name,
      data: msg.to_json do %>
      <% end %>
    <% end -%>
  
    </body>
</html>
